@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900|Nunito:300,400,700&v2);

li {
  list-style: none;
  font-weight: 300;
  text-shadow: 2px 5px 5px #000;
}

div.larger {
 font-size: 200%;
}

div.right h2 {
  text-align: right;
  margin-right: 3em;
}

h1,h2,h3 {
  font-weight: 300;
  text-shadow: 2px 5px 5px #000;
}
h3{
  font-size: 100px;
  width: 1034px;
  margin-left: -10px;
  margin-top: -10px;
  text-shadow: 2px 5px 5px #000;
  background: rgba(0, 0, 0, 0.6);
}

#footer {
  display: none;
}

#preso {
  background: #000;
}
.slide {
  background: #000 url("bg.jpg");
  color: #fff;
  font-family: 'Nunito', sans-serif;
}

.content {
  margin: 0 5em;
  font-weight: 300;
  margin-top: 10px !important;
  margin-left: 10px !important;
}

pre.sh_sourceCode {
  margin: 0;
  font-size: 200%;
}

.command {
  color: white;
  font-size: smaller;
}

img {
  margin: 0 auto;
  display: inline;
}

span.callout {
  color: #f479d8 !important;
}

.fullscreen {
  margin: 0;
}

.fullscreen img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.fullscreen h1, .fullscreen h2 {
  position: absolute;
  left: 100px;
  font-size: 5em;
  background: rgba(0,0,0,0.6);
  padding: 5px;
  -webkit-border-radius: 5px;
}
.fullscreen.bottom  h1 {
  bottom: 0px;
}
.fullscreen.top  h1 {
  top: 0px;
}
.fullscreen.bottom  h2 {
  bottom: 150px;
}
.fullscreen.bottom.larger  h2 {
  bottom: 200px;
}
.fullscreen.top  h2 {
  top: 150px;
}

span.caption {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 20px;
  background: rgba(0,0,0,0.5);
  padding: 5px;
  -webkit-border-radius: 5px;
}

.left_heading {
  text-align: left;
  width: 100%;
  font-size: 60px;
  margin: 30px;
}

.right_heading {
  text-align: right;
  width: 100%;
  font-size: 60px;
  margin: 30px;
}

body .slide .align-left {
  text-align: left;
  padding-left: 75px;
  padding-right: 75px;
}

body .slide .align-left h1 {
  text-align: left;
}

body .slide .align-left h2 {
  text-align: left;  
  padding-bottom: 20px;
}

table {
  margin-top: -40px;
}
table td {
  padding: 12px;
}

pre.bigcode {
  margin-top: 50px;
  font-size: 400%;
}
